.btn {
    padding: .3em .6em;
    border:none;
}


.btn-prim {
    background-color: lawngreen;
    color:lightcoral;
}

.btn-prim:hover {
    background-color: rgba(89, 89, 189, .4);
    color:orange;
    cursor:pointer;
}

.btn-sec {
    background-color: orange;
}

.btn-sec:hover {
    background-color: #aaa;
    color:chartreuse;
    cursor:pointer;
}