@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&family=Montserrat:wght@700&display=swap');
*{
    box-sizing:border-box;
    margin-left: 40px;
    margin-right: 40px;
}
.textured-background {
    background-image: url(_resources/fondo-textura.jpg);
    background-size: cover;
}

.poster {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 3px #49AECA;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(54,54,54,1) 95%, rgba(48,48,48,1) 100%);
}

.poster-link {
    text-decoration: underline #F0FEFE;
    outline: none;
    display: inline-block;
    color:#F0FEFE
}

.navigation {
    margin: 10px 40px;
    font-family: 'Bree Serif', serif;
    background-color: rgba(73, 174, 202, 0.7);
}

ul {
    padding: 0;
    width: 100%;
}

li {
    display: inline;
}

.index {
    outline: none;
    text-decoration: none;
    display: inline;
    width: 10%;
    margin-right: 2.5%;
    margin-left: 2.5% ;
    text-align: center;
    line-height: 1em;
    color: black;
}

.index:link, .index:visited {
    line-height: 2em;
}

.index:hover {
    background: #036e8b;
    line-height: 100%;
}

.index:active {
    background:#EB1F82;
    color: #B2C660 ;
}

.background {
    background-color: rgba(0,0,0,0.6);
    display: flex;
    margin-bottom: 50px;
}

.box {
    display: inline-block;
    flex-direction: row;
    padding: 5px 10px;
}

.lettering {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    margin-left: 1.3em;
    margin-top: 1.3em;
    margin-bottom: none;
    margin-right: none;
    border: 1px solid #F0FEFE;
}

.lettering1 {
    position: absolute;
    top: 84%;
    left:4%;
    text-decoration: none;
    color:rgb(73, 174, 202);
    text-shadow: 3px 3px #262b2b;
}

.lettering-right.lettering {
    margin-left: 20px;
}

.former{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    position: relative;
    display: inline-block;
    margin: 10px 14%;
    border: 1px solid #F0FEFE;
}

.former1 {
    position: absolute;
    top: 84%;
    left:10%;
    text-decoration: none;
    color:rgb(73, 174, 202);
    text-shadow: 3px 3px #000000;
}

.btn {
    font-family: 'Bree Serif', serif;
    border-radius: 4px;
    background-color:rgb(73, 174, 202);
    border: none;
    color:black;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    transition-property: background-color, margin-right, color;
    transition-duration: 1s;
    text-transform: uppercase;
    position: absolute;
    cursor: pointer;
    top: 84%;
    right: 5%;
}

.btn:hover {
    background-color: #036e8b;
    margin-right: 70px;
    color:#F0FEFE
}

.link-box {
    display:inline-block;
    flex-direction: row;
    margin: 10px 40px;
    margin-bottom: 50px;
    border: 1px solid #F0FEFE;
}

.text {
    margin-left: 10px;
    border: 1px solid #F0FEFE;
    position: absolute;
    display: inline-block;
    color: #F0FEFE;
    width: 46%;
    height: 50%;
    overflow-y: scroll;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 5px
}

.pf {
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    margin: 10px;
    text-align: left;
    line-height: 25px;
}

footer {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(54,54,54,1) 95%, rgba(48,48,48,1) 100%);
    height: 30px;
    color:#49AECA;
    text-align: center;
}

.footer-bottom {
    font-family: 'Bree Serif', serif;
    margin: 0px 40px;
    
}
