@import 'basic.css';
@import 'reset.css';
@import 'header.css';
@import 'footer.css';
@import 'layout.css';
@import 'text.css';
@import 'grid.css';
.nav-main ul {
    display: flex;
    color: grey;
}

.nav-main li {
    margin-right: .5em;
}

.nav-main a{
    color: black;
}

.nav-main a:hover {
    text-decoration: underline;
}

section img {
    max-width: 100%;
    height: auto;
}
