.font-xs {
    font-size: 10px;
}

.font-small{
    font-size: 12px;
}

.font-base {
    font-size: 16px;
}

.font-md {
    font-size: 14px;
}

.font-large {
    font-size: 18px;
}

.font-big {
    font-size: 20px;
}

.font-xl {
    font-size: 22px;
}

.txt-center {
    text-align: center;
}