/*ejercicio del 27/01/2021*/
.padre {
    background-color: blue;
    width: 500px;
    height: 500px;
    display: flex;
    overflow-x: scroll;
}

.hijo {
    background-color: yellow;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

