/* esta es mi primera hoja de estilos */ 

/*SELECTOR HERENCIA--HIJOS*/
.square > .text {
    font-family: Verdana;   
    font-style: italic; 
    text-align:center;
    font-size: 20px; 
    border-radius: 5px;
    border: 2px solid red;
    padding: 10px;
}
/*.text {
    font-weight: bold;
}*/

/*SELECTOR HERENCIA--DESCENDIENTES*/

.square2 .text2{
    font-family: Verdana;   
    font-style: italic; 
    text-align:center;
    font-size: 20px; 
    border-radius: 5px;
    border: 2px solid red;
    padding: 10px;
}

/*.text2{ 
    font-weight: bold;
}*/

/*AGRUPACIONES DE UN MISMO CLASS EVITANDO QUE OTROS CLASS CON EL MISMO NOMBRE HEREDEN--*/

.square3 {
    font-family: Verdana;   
    font-style: italic; 
    text-align:center;
    font-size: 20px; 
    border-radius: 5px;
    border: 2px solid violet;
    padding: 10px;
}

.square3.text3{ 
    background-color:rgba(179, 255, 0, 0.6);
}

.square3 > .text3 {
    text-decoration: underline;
}

